.footer{

    main {
            background-color: #303030;
            color: white;
            background-image: url(../img/footer-bg.jpg);
            background-size: cover;
            z-index: 0;
        }
    
        .left {
            width: 100%;
        }
    
        .title {
            font-size: large;
            font-weight: bold;
            padding: 10px 0;
    
        }
    
        [class^="col-"] {
            padding: 20px 0;
            margin-right: 30px;
        }
    
    
    
        .link {
            color:#797979;
        }
    
        .bgLogo {
            background-image: url(../img/dc-logo-bg.png);
            background-size: cover;
            margin-top: -50px;
    
        }
}

.signUp{
    main {
            background-color: #303030;
            color: white;
            padding: 20px 0;
        }
    
        .button {
            text-decoration: none;
            color: white;
            border: 2px solid #0282f9FF;
            padding: 10px;
    
        }
    
        .img {
            height: 60%;
        }
    
        .follow {
            color: #0282f9FF;
            font-weight: bold;
        }
}